{% extends 'base.html' %}
{% block main %}
<p>
    Zagadnienie zdolności kredytowej znane jest w świecie finansowym, statystycznym od wielu lat.
    Problem jest niezwykle powszechny i znany niemal każdemu człowiekowi, gdyż świat finansów otacza każdego z nas.
    Zdolność kredytowa oraz predykcja ewentualnych problemów ze spłatą, jest czynnikiem, który de facto jest
    kluczowy
    przy udzieleniu kredytu.
    Na pytanie czy kredyt może zostać udzielony, odpowiada wiele składowych zaczynając od dochodów samego
    wnioskodawcy
    przychodząc przez aktualne zobowiązania finansowe czy też fakt, czy kredytobiorca sam spłacałby kredyt bądź z
    drugą
    osobą.
    Wypadkowa tych, ale także wielu innych składników daje nam odpowiedź na pytanie czy udzielić danej osobie
    kredytu
    (tak lub nie) oraz w jakiej wysokości.
</p>
{% endblock %}